<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="google-site-verification" content="9oLk8DBeAu3br2Rn_v-4-m5A39PKOoYSL1xulIg01Cg" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	{{#if post}}
	<meta name="keywords" content="{{#each post.tags}}{{name}},{{/each}}">
	{{else}}
	<meta name="keywords" content="android, javascript, sublime, freelance">
	{{/if}}

	<meta name="description" content="{{meta_description}}" />


	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "/css/normalize.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "/css/main.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "/css/prism.css"}}" />

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	
	{{> sidebar }}

	<div class="content">
		{{{body}}}
	</div>

	{{! ghost_foot prints a unminified version of jquery here :/ }}
	{{!ghost_foot}}

	{{! The main JavaScript file for Casper }}
	{{> analytics}}
	
	<script type="text/javascript" src="{{asset "/js/prism.js"}}"></script>

</body>
</html>
